@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
    --primary-color: #dcd7f8;
    --text-dark: #3f3b57;
    --text-light: #908ca3;
    --white: #ffffff;
    --max-width: 1200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
}

img {
    display: flex;
    width: 100%;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

ul {
    list-style: none;
}

button,
input {
    font: inherit;
}

button {
    outline: none;
}

.container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section-subtitle {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-light);
    text-align: center;
}

.section-title {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 3.5rem;
    color: var(--text-dark);
    text-align: center;
}

.navigation {
    position: fixed;
    isolation: isolate;
    z-index: 9;
    width: 100%;
}

.navigation-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    background-color: var(--white);
}

.logo a {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-dark);
}

.navigation-menu-button {
    font-size: 1.5rem;
    color: var(--text-dark);
    background: transparent;
    border: none;
    cursor: pointer;
}

.navigation-links {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    gap: 1.5rem;
    background-color: var(--white);
    transform: translateY(-100%);
    transition: transform 0.5s;
}

.navigation-links.open {
    transform: translateY(100%);
}

.navigation-links li {
    display: flex;
}

.navigation-links a {
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-dark);
    white-space: nowrap;
}

.navigation-links a:hover {
    color: var(--primary-color);
}

.hero {
    position: relative;
    isolation: isolate;
    padding-top: 5rem;
    background-color: var(--primary-color);
}

.hero-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 3rem;
    background-color: var(--white);
}

.hero-container {
    display: grid;
    gap: 2rem;
    padding-block: 2rem 0;
}

.hero-content h4 {
    max-width: fit-content;
    margin: 0 auto 1rem;
    padding: 5px 15px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-dark);
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5rem;
}

.hero-content h1 {
    margin-bottom: 1rem;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    color: var(--text-dark);
    text-align: center;
}

.hero-content h1 span {
    font-size: 5rem;
}

.hero-content h2 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
    text-align: center;
}

.hero-content p {
    margin-bottom: 2rem;
    color: var(--text-light);
    text-align: center;
}

.hero-button button {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: auto;
    padding-block: 0.5rem;
    padding-inline: 1.5rem 0.5rem;
    border: none;
    font-size: 1rem;
    color: var(--text-dark);
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5rem;
    cursor: pointer;
    transition: 0.3s;
}

.hero-button button span {
    padding: 5px 7px;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 100%;
}

.hero-button button:hover {
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.4);
}

.hero-button button:hover span {
    background-color: rgba(0, 0, 0, 0.4);
}

.hero-image {
    position: relative;
    isolation: isolate;
}

.hero-image img {
    max-width: 400px;
    margin: auto;
}

.hero-image .hero-background {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    max-width: 300px;
    transform: translateY(-50%);
}

.introduction-grid {
    display: grid;
    gap: 2rem;
    margin-top: 4rem;
}

.introduction-card {
    text-align: center;
}

.introduction-image {
    max-width: fit-content;
    margin: 0 auto 1rem;
    padding: 2rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.introduction-expert {
    background-image: url("../assets/images/intro-1-bg.png");
}

.introduction-services {
    background-image: url("../assets/images/intro-2-bg.png");
}

.introduction-contact {
    background-image: url("../assets/images/intro-3-bg.png");
}

.introduction-image img {
    width: auto;
    height: 75px;
}

.introduction-card h4 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}

.introduction-card p {
    margin-bottom: 2rem;
    color: var(--text-light);
}

.introduction-card a {
    display: inline-block;
    padding: 0.5rem 2rem;
    border: 2px solid;
    border-radius: 5rem;
}

.introduction-card:nth-child(1) a {
    color: #ffc737;
    border-color: #ffc737;
}

.introduction-card:nth-child(1) a:hover {
    color: var(--white);
    background-color: #ffc737;
}

.introduction-card:nth-child(2) a {
    color: #257ae7;
    border-color: #257ae7;
}

.introduction-card:nth-child(2) a:hover {
    color: var(--white);
    background-color: #257ae7;
}

.introduction-card:nth-child(3) a {
    color: #cba9b6;
    border-color: #cba9b6;
}

.introduction-card:nth-child(3) a:hover {
    color: var(--white);
    background-color: #cba9b6;
}

.about-row {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 2rem;
    overflow: hidden;
}

.about-row:nth-of-type(2) {
    margin-top: 4rem;
}

.about-image {
    flex: 1;
    max-width: 400px;
    margin: auto;
}

.about-content {
    flex: 1;
    text-align: center;
}

.about-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    aspect-ratio: 1;
    margin: 0 auto 1rem;
    border-radius: 100%;
}

.about-icon img {
    max-width: 40px;
}

.health-icon {
    background-color: #fdf2d9;
}

.staff-icon {
    background-color: #e8f7fe;
}

.grooming-icon {
    background-color: #fbebf1;
}

.about-content h4 {
    max-width: 450px;
    margin: 0 auto 1rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
    color: var(--text-dark);
}

.about-content p {
    max-width: 450px;
    margin: auto;
    color: var(--text-light);
}

.products {
    position: relative;
    isolation: isolate;
}

.products::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 65%;
    content: "";
    background-color: #fdf2d9;
}

.products-grid {
    display: grid;
    gap: 2rem;
    margin-top: 4rem;
}

.product-card h4 {
    margin-block: 1rem 5px;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-dark);
}

.product-card p {
    margin-bottom: 1rem;
    color: var(--text-light);
}

.product-card h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}

.services-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 4rem;
}

.service-card {
    text-align: center;
}

.service-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    aspect-ratio: 1;
    margin: 0 auto 2rem;
    background-color: #dff3fd;
    border-radius: 100%;
}

.service-icon img {
    max-width: 45px;
}

.service-card p {
    font-weight: 500;
    color: var(--text-light);
}

.testimonials {
    background-color: var(--primary-color);
}

.testimonials-slider {
    width: 100%;
    margin-top: 4rem;
    overflow: hidden;
}

.testimonial-card {
    padding: 1.5rem;
    background-color: var(--white);
    border-radius: 1rem;
}

.testimonial-details {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.testimonial-details img {
    max-width: 50px;
    border-radius: 100%;
}

.testimonial-details h4 {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text-dark);
}

.testimonial-details h5 {
    font-weight: 500;
    color: var(--text-light);
}

.testimonial-card p {
    color: var(--text-dark);
}

.instagram-label {
    max-width: fit-content;
    margin-bottom: 1rem;
    padding: 6px 20px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-dark);
    background-color: #e6e3fa;
    border-radius: 5rem;
}

.instagram .section-title {
    padding-bottom: 1rem;
    text-align: left;
    border-bottom: 1px solid var(--text-light);
}

.instagram-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
}

.footer-container {
    display: grid;
    gap: 4rem 2rem;
}

.footer-logo a {
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--text-dark);
}

.footer-column h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}

.footer-links {
    display: grid;
    gap: 1rem;
}

.footer-links a {
    font-weight: 500;
    color: var(--text-dark);
}

.footer-links a:hover {
    color: var(--primary-color);
}

.footer-column p {
    margin-bottom: 1rem;
    color: var(--text-dark);
}

.footer-column form {
    display: flex;
    align-items: center;
    width: 100%;
    border: 2px solid var(--primary-color);
    border-radius: 5rem;
}

.footer-column form input {
    width: 100%;
    padding-inline: 0.5rem;
    outline: 0;
    border: 0;
    font-size: 1rem;
    color: var(--text-dark);
    background: transparent;
}

.footer-column form button {
    padding: 0.25rem 1.5rem;
    border: 0;
    font-size: 2rem;
    color: var(--text-dark);
    background-color: var(--primary-color);
    border-radius: 5rem;
    cursor: pointer;
}

.footer-socials {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.footer-socials a {
    display: inline-block;
    padding: 5px 8px;
    font-size: 1.125rem;
    color: var(--text-dark);
    background-color: var(--primary-color);
    border-radius: 100%;
}

.footer-bottom {
    padding: 1rem;
    font-size: 0.9rem;
    color: var(--text-light);
    text-align: center;
}

@media (width > 540px) {
    .hero-content h1 {
        font-size: 4.5rem;
        line-height: 5rem;
    }

    .hero-content h1 span {
        font-size: 6rem;
    }

    .introduction-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .products-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .instagram-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width > 768px) {
    .navigation {
        position: static;
        max-width: var(--max-width);
        margin: auto;
        padding: 2rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }

    .navigation-header {
        padding: 0;
        background-color: transparent;
    }

    .logo a {
        font-size: 1.5rem;
    }

    .navigation-menu-button {
        display: none;
    }

    .navigation-links {
        position: static;
        z-index: auto;
        width: auto;
        padding: 0;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 1.5rem;
        background-color: transparent;
        transform: none;
    }

    .navigation-links li {
        flex-shrink: 0;
    }

    .navigation-links a {
        font-size: 0.95rem;
        white-space: nowrap;
    }

    .hero {
        padding-top: 0;
    }

    .hero-container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .hero-content {
        grid-area: 1 / 2 / 2 / 3;
    }

    .hero-content h4,
    .hero-button button {
        margin-inline-start: 0;
    }

    .hero-content h1,
    .hero-content h2,
    .hero-content p {
        text-align: left;
    }

    .hero-content p {
        max-width: 400px;
    }

    .hero-image img {
        max-width: 500px;
    }

    .introduction-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .about-row {
        flex-direction: row;
        align-items: center;
    }

    .about-row:nth-of-type(3) {
        flex-direction: row-reverse;
    }

    .about-image {
        max-width: none;
    }

    .about-content {
        text-align: left;
    }

    .about-icon {
        margin-left: 0;
    }

    .about-content h4,
    .about-content p {
        margin-inline: 0;
    }

    .products-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (width > 1024px) {
    .navigation-links {
        gap: 2rem;
    }

    .navigation-links a {
        font-size: 1rem;
    }
}
